
<ul>
    <li><a class="logo" href="{{ path_for('home') }}">MATCHA</a></li>
    
    {% if auth.isLogged %}


<!-- ----------------------------------------------- -->


	
        <li id="noti_Container">


            <div id="noti_Counter"></div>  
            

            
            <div id="noti_Button"> <img id="noti_Img" src="{{ base_url() }}/../ressources/images/notif_orange.png"> </div>    

           

            <div id="notifications">
                <h3 id = "titleNotif"> Notifications </h3>
                <div style="height:300px;"></div>
                <div id="seeAll"><a href="#">See All</a></div>
            </div>


        </li>
        


 
<!-- ----------------------------------------------- -->



    <ul id="menu-deroulant" style="float:right">
		<li style="float:right"><a class='nav1' href=''> {{ session.pseudo }}</a>
			<ul>
				<li class="subtitle" id="def1"><a href="{{ path_for('auth.profil') }}">Mon Profil</a></li> </br>
				<li class="subtitle"><a href="#">Mes Contacts</a></li> </br>
				<li class="subtitle" id="def1"><a href="{{ path_for('auth.logout') }}">Déconnexion</a></li>
			</ul>
		</li>
	</ul>
     <li style="float:right"><a class='nav1' href="{{ path_for('search') }}"> Recherche </a></li>


	{% else %}
    <li style="float:right; border-left:1px solid #bbb;" class="copy"><a class="nav" href=" {{ path_for('auth.signup') }} ">Signup</a></li>
    <li style="float:right; border-left:1px solid #bbb;"><a class='nav' href='{{ path_for('auth.login') }}' >Login</a></li>
    {% endif %}
       
</ul> 

