

	{% extends 'templates/app.twig' %}

	{% block content %}

			<div id="populaire">
			<img id="logo_populaire" src="{{ base_url() }}/../ressources/images/populaire.jpg">
			<div id="text_populaire" > Score de Popularité : </div>
			<div id="score_populaire"> 1000 pts </div>
			</div>

			<div class="user one"> {% if session.picProfil == "NULL" %} {% else %} <img class="img_profil" src="../../ressources/pictures/{{ session.picProfil }}" >  {% endif %}</div>


			

			<div class="div-input-picture"><a href="{{ path_for('update_picture') }}"> <input class="input-picture" type="submit" value="Gérer mes photos" /> </a> </div>

			<div id="infos">

				<div id="label">
					<div class="sublabel"> Pseudo : </div></br>
					<div class="sublabel"> Email : </div></br>
					<div class="sublabel"> Nom : </div></br>
					<div class="sublabel"> Prénom : </div></br>
					<div class="sublabel"> Date de naissance : </div></br>
					<div class="sublabel"> Sexe : </div></br>
					<div class="sublabel"> Orientation : </div></br>
					<div class="sublabel"> Centres d'intérêt : </div></br></br>
					<div class="sublabel"> Localisation : </div></br>

				</div>

				<div id="result">
					<div class="subresult"> {{ session.pseudo }} </div></br>
					<div class="subresult"> {{ session.email }} </div></br>
					<div class="subresult"> {{ session.nom }} </div></br>
					<div class="subresult"> {{ session.prenom }} </div></br>
					<div class="subresult"> {% if session.date_naissance == 'NULL' %} N/A {% else %} {{ session.date_naissance }} {% endif %} </div></br>
					<div class="subresult"> {% if session.sexe == 0 %} N/A {% elseif session.sexe == 1 %} Homme {% else %} Femme {% endif %} </div></br>
					<div class="subresult"> {% if session.orientation == 0 %} Bisexuel {% elseif session.orientation == 1 %} Hétérosexuel {% else %} Homosexuel {% endif %} </div></br>
					<div class="subresult"> {% if session.hobby == 'NULL' %} N/A {% else %} {{ session.hobby }} {% endif %} </div></br>
					<div class="subresult"> </div>
				</div>

				<div id="staticmap">
					<a target="_blank" href="https://maps.google.com/?q={{session.latitude}},{{session.longitude}}&ll={{session.latitude}},{{session.longitude}}&z=10"><img id="img-static" src="http://maps.googleapis.com/maps/api/staticmap?center=&zoom=10&scale=false&size=400x250&maptype=roadmap&key=AIzaSyBzUTbQbmN-4-Eu8zqaIYVV5ziaOLs6Gxk&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{session.latitude}},{{session.longitude}}"></a>
				</div>
				
				</br></br>

					<a href="{{ path_for('update_profil') }}"> <input class="input-profil" type="submit" value="Modifier les informations" /> </a> 

			</div>





	{% endblock %}